build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cache/clangd/index/__FILE.h.BEEE5A6696CD3CC3.idx
build/.cache/clangd/index/__fpos_t.h.53A3712523DD5217.idx
build/.cache/clangd/index/__fpos64_t.h.2EADFCA8D822C455.idx
build/.cache/clangd/index/__locale_t.h.4EF4C6F2FD1F70EF.idx
build/.cache/clangd/index/__mbstate_t.h.7482AF58BE8A6D98.idx
build/.cache/clangd/index/__sigset_t.h.660A044352C66985.idx
build/.cache/clangd/index/__stdarg___gnuc_va_list.h.90997FB55AB93914.idx
build/.cache/clangd/index/__stdarg___va_copy.h.F5F1DCFFAECDB3DF.idx
build/.cache/clangd/index/__stdarg_header_macro.h.F7F73E6CC9F2DC80.idx
build/.cache/clangd/index/__stdarg_va_arg.h.1C93784522BB3C92.idx
build/.cache/clangd/index/__stdarg_va_copy.h.86363A884A458239.idx
build/.cache/clangd/index/__stdarg_va_list.h.BE7A97259F63E393.idx
build/.cache/clangd/index/__stddef_header_macro.h.5CCD3F659ADCF278.idx
build/.cache/clangd/index/__stddef_null.h.95158539F0A183C1.idx
build/.cache/clangd/index/__stddef_offsetof.h.33543B9AC1A5C257.idx
build/.cache/clangd/index/__stddef_ptrdiff_t.h.231B3DCD2DF9640C.idx
build/.cache/clangd/index/__stddef_size_t.h.0316A442312E9CF4.idx
build/.cache/clangd/index/__stddef_wchar_t.h.D680C98A71D34794.idx
build/.cache/clangd/index/alloca.h.793370BF9878CFB6.idx
build/.cache/clangd/index/atomic_wide_counter.h.807A3792D29058FD.idx
build/.cache/clangd/index/byteswap.h.5CF682CD30C8245A.idx
build/.cache/clangd/index/cdefs.h.020FDF15FD4FDEBD.idx
build/.cache/clangd/index/clock_t.h.D43CAB77D0D0D2BD.idx
build/.cache/clangd/index/clockid_t.h.4E370254AE2D9FBB.idx
build/.cache/clangd/index/cookie_io_functions_t.h.E3E6C5414DB00C0C.idx
build/.cache/clangd/index/ctype.h.B268CEA0CECCFC59.idx
build/.cache/clangd/index/defs.h.28944E1120364CDB.idx
build/.cache/clangd/index/endian.h.1FC6A4D6D2846204.idx
build/.cache/clangd/index/endian.h.34A83B053A733CA8.idx
build/.cache/clangd/index/endianness.h.BDC6F260DCC6E0EC.idx
build/.cache/clangd/index/errno-base.h.23FC55A99C73A727.idx
build/.cache/clangd/index/errno.h.3F8ECD84FB880B64.idx
build/.cache/clangd/index/errno.h.19BCCCD58DA5623E.idx
build/.cache/clangd/index/errno.h.45DFD70EF343D681.idx
build/.cache/clangd/index/errno.h.55CA4DE1F1B35462.idx
build/.cache/clangd/index/errno.h.10013861918E601A.idx
build/.cache/clangd/index/features-time64.h.BFBA8D3CA0316037.idx
build/.cache/clangd/index/features.h.5A4ED7C80201A723.idx
build/.cache/clangd/index/FILE.h.846F156B181C5A07.idx
build/.cache/clangd/index/floatn-common.h.975EC49F61A3C703.idx
build/.cache/clangd/index/floatn.h.F3C6759637F0C3C2.idx
build/.cache/clangd/index/flt-eval-method.h.3344EA8D5853532A.idx
build/.cache/clangd/index/fp-fast.h.91A0AAED89DDB8E8.idx
build/.cache/clangd/index/fp-logb.h.943A50A5C0A2DEE2.idx
build/.cache/clangd/index/input.c.2D5110FEDC324C5C.idx
build/.cache/clangd/index/input.h.031F9F710C59FF11.idx
build/.cache/clangd/index/libc-header-start.h.1C0FBEF85547B680.idx
build/.cache/clangd/index/libm-simd-decl-stubs.h.A6CB3BD9B4EB41BB.idx
build/.cache/clangd/index/limits.h.1DFE7D0FE6434B13.idx
build/.cache/clangd/index/limits.h.A2BB2B712190809D.idx
build/.cache/clangd/index/limits.h.C293B8934AC926BB.idx
build/.cache/clangd/index/local_lim.h.A1F0B5161BD6CDAD.idx
build/.cache/clangd/index/locale_t.h.5DC2F79D1FD1D177.idx
build/.cache/clangd/index/long-double.h.D4BCC892B95DB530.idx
build/.cache/clangd/index/main.c.09E43D26ACD19EA2.idx
build/.cache/clangd/index/math-vector.h.EA6B90E1EDD4798B.idx
build/.cache/clangd/index/math.h.DE4D39AAF5AC2C76.idx
build/.cache/clangd/index/mathcalls-helper-functions.h.6C9F0E670CB48DE2.idx
build/.cache/clangd/index/mathcalls-macros.h.ACC959BBE9814AB6.idx
build/.cache/clangd/index/mathcalls.h.37D6C5C19208639E.idx
build/.cache/clangd/index/parson.c.31A8E406D2E46652.idx
build/.cache/clangd/index/parson.h.FE5DAE37E0D2FD3A.idx
build/.cache/clangd/index/player_combat.c.894A459E9D4F032B.idx
build/.cache/clangd/index/player_combat.h.EDCE2FD0A9628CF5.idx
build/.cache/clangd/index/player_movement.c.40892CE8FFEAF95B.idx
build/.cache/clangd/index/player_movement.h.7AEE1DEA050F73DC.idx
build/.cache/clangd/index/player_sprite.c.E41A5EAE5D383360.idx
build/.cache/clangd/index/player_sprite.h.3BAAF410C0D3C6AD.idx
build/.cache/clangd/index/player.c.6E2E207BCAC7028D.idx
build/.cache/clangd/index/player.h.5C3280143189D26E.idx
build/.cache/clangd/index/posix1_lim.h.F32309C974B4FD51.idx
build/.cache/clangd/index/posix2_lim.h.3A58038C48DCD449.idx
build/.cache/clangd/index/pthread_stack_min-dynamic.h.7B19ECE3A843B2BF.idx
build/.cache/clangd/index/pthread_stack_min.h.EC4E208637F979D1.idx
build/.cache/clangd/index/pthreadtypes-arch.h.026BFE264B629FFA.idx
build/.cache/clangd/index/pthreadtypes.h.078F29FDF072791A.idx
build/.cache/clangd/index/raylib.h.DEE38BA4DA6D78E5.idx
build/.cache/clangd/index/select.h.B782DFA7AF82626C.idx
build/.cache/clangd/index/select.h.E66249F12D3AF654.idx
build/.cache/clangd/index/sigset_t.h.90E8434286D517E1.idx
build/.cache/clangd/index/sprite.h.9F6B2B0A5F19DE5A.idx
build/.cache/clangd/index/stdarg.h.3248384AD24E9839.idx
build/.cache/clangd/index/stdbool.h.71AF095B7DB65C04.idx
build/.cache/clangd/index/stdc-predef.h.9EA93D70716BF84B.idx
build/.cache/clangd/index/stddef.h.7BD0C22AEF99546F.idx
build/.cache/clangd/index/stdint-intn.h.1B33604E07F2EC64.idx
build/.cache/clangd/index/stdio_lim.h.E27D5CAD1DA797FA.idx
build/.cache/clangd/index/stdio.h.6919C07CB89D47AD.idx
build/.cache/clangd/index/stdlib-float.h.2403F3F56D6FE40D.idx
build/.cache/clangd/index/stdlib.h.61AA7B9EED10C430.idx
build/.cache/clangd/index/string.h.979B97B48AB27554.idx
build/.cache/clangd/index/strings.h.9EB46A34EB89BB5D.idx
build/.cache/clangd/index/struct_FILE.h.BD746D724FA26A14.idx
build/.cache/clangd/index/struct_mutex.h.4C3362835A033C07.idx
build/.cache/clangd/index/struct_rwlock.h.015225931B7E9A45.idx
build/.cache/clangd/index/struct_timespec.h.84E4D8A674C22D31.idx
build/.cache/clangd/index/struct_timeval.h.E5EFAE6351E57E37.idx
build/.cache/clangd/index/stubs-64.h.C9B9EF9F85A49B89.idx
build/.cache/clangd/index/stubs.h.082359ACEA197EE8.idx
build/.cache/clangd/index/thread-shared-types.h.3BF83EAF2453B9EE.idx
build/.cache/clangd/index/tilemap.c.5D992FA64E454FAE.idx
build/.cache/clangd/index/tilemap.h.A1679F8890950EE6.idx
build/.cache/clangd/index/time_t.h.BAF6123CBDB646D6.idx
build/.cache/clangd/index/time64.h.CB321F1760C06220.idx
build/.cache/clangd/index/timer_t.h.DE52AF3543DCC14B.idx
build/.cache/clangd/index/timesize.h.B987EAFC7C6E7540.idx
build/.cache/clangd/index/types.h.03E112F1187911D8.idx
build/.cache/clangd/index/types.h.A9C854B704566561.idx
build/.cache/clangd/index/typesizes.h.458576AD7CBC208B.idx
build/.cache/clangd/index/uintn-identity.h.1CA9207577CEA5E1.idx
build/.cache/clangd/index/waitflags.h.1480026F0BFFE024.idx
build/.cache/clangd/index/waitstatus.h.C8A83CD20FAF0338.idx
build/.cache/clangd/index/wordsize.h.B3DEF3D506FCA17B.idx
build/.cache/clangd/index/world.c.0CB8783A525499CD.idx
build/.cache/clangd/index/world.h.89D99BECC1AB7919.idx
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-534e651964f7b44069f4.json
build/.cmake/api/v1/reply/cmakeFiles-v1-f3d5180864ff8f7fdec2.json
build/.cmake/api/v1/reply/codemodel-v2-6b1a764ec218f4fa0c9b.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-07-26T13-41-56-0441.json
build/.cmake/api/v1/reply/target-copy_resources-Debug-f3de552ec84e3804d240.json
build/.cmake/api/v1/reply/target-game-Debug-4afa2a15c0c81445a63e.json
build/.cmake/api/v1/reply/toolchains-v1-40c3b33678cfe12152be.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/rules.ninja
build/CMakeFiles/4.0.3-dirty/CMakeCCompiler.cmake
build/CMakeFiles/4.0.3-dirty/CMakeSystem.cmake
build/CMakeFiles/game.dir/src/main.c.o.d
build/CMakeFiles/game.dir/src/player/player_combat.c.o.d
build/CMakeFiles/game.dir/src/player/player_movement.c.o.d
build/CMakeFiles/game.dir/src/player/player_sprite.c.o.d
build/.ninja_deps
build/.ninja_log
build/cmake_install.cmake
build/CMakeCache.txt
build/game
build/.cmake/api/v1/reply/cache-v2-c2bf96b07884edfe5326.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7dabfc31d37aeb99ca1a.json
build/.cmake/api/v1/reply/index-2025-07-27T23-41-41-0260.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/4.0.3-dirty/CMakeCCompiler.cmake
build/CMakeFiles/4.0.3-dirty/CMakeSystem.cmake
build/CMakeFiles/game.dir/link.d
build/CMakeFiles/game.dir/src/input.c.o
build/CMakeFiles/game.dir/src/input.c.o.d
build/CMakeFiles/game.dir/src/main.c.o
build/CMakeFiles/game.dir/src/main.c.o.d
build/CMakeFiles/game.dir/src/level/tilemap.c.o
build/CMakeFiles/game.dir/src/level/tilemap.c.o.d
build/CMakeFiles/game.dir/src/level/world.c.o
build/CMakeFiles/game.dir/src/level/world.c.o.d
build/CMakeFiles/game.dir/src/lib/parson.c.o
build/CMakeFiles/game.dir/src/lib/parson.c.o.d
build/CMakeFiles/game.dir/src/player/player_combat.c.o
build/CMakeFiles/game.dir/src/player/player_combat.c.o.d
build/CMakeFiles/game.dir/src/player/player_movement.c.o
build/CMakeFiles/game.dir/src/player/player_movement.c.o.d
build/CMakeFiles/game.dir/src/player/player_sprite.c.o
build/CMakeFiles/game.dir/src/player/player_sprite.c.o.d
build/CMakeFiles/game.dir/src/player/player.c.o
build/CMakeFiles/game.dir/src/player/player.c.o.d
